.formsection{
  width :100%;
  background-color:  #3c88b5;
}
.formfield{
  width: 500px;
  margin-top: 100px;
}
.inputfield{
  width: 400px;
}
.registerText{
  font-size: 25px !important;
  font-weight: 600;
}

.Welcomeheading{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
  color: #3c88b5;
  font-weight: 500;
}

.navlink{
  font-size: 20px;
  color: #3c88b5 !important;
  font-weight: 900;
}
.navlink:hover{
  color: orange !important;
  font-size: 28px;
}
.logo35{
  font-size: 40px !important;
}
.logo35:hover{
  color: #3c88b5 !important;
  font-size: 45px !important;
}

.headetText{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 500;
  color: #3c88b5;
}

.Hearderbtn{
  width: 230px;
  border-radius: 20px !important;
  background-color: #3c88b5;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.Hearderbtn:hover{
  width: 300px;
  color: white;
  background-color: orange;
}
.navLogo{
  color: #3c88b5;
  font-size: 32px;
  font-weight: 900;
}
.navLogo:hover{
  color: orange;
  font-size: 37px;
}
.aboutsection{
  background-color: #3c88b5;
}
.aboutheadline{
  font-size: 40px;
  color: white;
  font-weight: 900;

}
.aboutoption{
  font-size: 20px;
  padding: 2px;
  color: white;
  line-height: 49.8px
}

.whatwedo{
  color: orange;
  font-size: 40px;
  font-weight: 900;
}
.whatwedotext{
  color: #3c88b5;
  font-size: 20px;
  font-weight: 500;
}
.booticon{
  color: #3c88b5;
}

.booticontitle{
  font-size: 30px;
  color: orange;
  font-weight: 900;
}
.booticontext{
  font-size: 21px;
  color: #3c88b5;
  font-weight: 500;
}
.copyright{
  color: #3c88b5;
  font-size: 18px;
}
.copyrightnerd{
  font-size: 22px;
  font-weight: 900;
}
.copyright35{
  color: orange;
  font-size: 32px;
  font-weight: 900;
}
@media screen and (max-width: 560){
  .formfield{
      width: 200px;
      margin-top: 100px;
  }
  .inputfield{
      width: 100px;
  }

}